html {
	overflow-y: scroll;
}

body {
	padding-top: 20px;
	padding-bottom: 40px;
}

table {
	color: black;
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

#js {
	display: none;
}

#nojs #privacy-header h1, #nojs #privacy-content {
	color: black;
}